<ng-container *ngIf="!hideLayout; else authLayout">

  <app-navbar *ngIf="!isAidePage() && !isFaqPage() && !isPanierPage() && !isProduitsPage() && !isAdminPage() && !isClientProfilePage() && !isFournisseurPage()"></app-navbar>

  <router-outlet></router-outlet>

  <app-footer *ngIf="!hideFooter && !isAidePage() && !isFaqPage() && !isProduitsPage() && !isPanierPage() && !isAdminPage() && !isClientProfilePage() && !isFournisseurPage()"></app-footer>

</ng-container>

<ng-template #authLayout>

  <router-outlet></router-outlet>

</ng-template>

<!-- Notifications globales -->
<app-notifications></app-notifications>