<section class="search-populaire">

    <p class="top-title">🔎 RECHERCHES POPULAIRES</p>
    <h2>Que recherchent les autres?</h2>
    <p class="desc">Les pièces les plus demandées en ce moment</p>

    <div class="search-list">

        <div class="search-item">Plaquettes frein <span>→</span></div>
        <div class="search-item">Batterie auto <span>→</span></div>
        <div class="search-item">Filtre à air <span>→</span></div>
        <div class="search-item">Pneus Michelin <span>→</span></div>
        <div class="search-item">Amortisseurs <span>→</span></div>
        <div class="search-item">Essuie-glaces <span>→</span></div>
        <div class="search-item">Embrayage <span>→</span></div>
        <div class="search-item">Courroie de distribution <span>→</span></div>

    </div>

</section>