<section class="offers">

    <div class="container">
  
      <div class="offers-header">
  
        <div>
            <span class="cards"><i class="bi bi-star">TENDANCE</i></span>
               
            <h2>En vogue cette semaine</h2>
            <p>Les produits qui cartonnent en ce moment</p>
        </div>
  
      </div>
  
  
      <div class="offers-grid">
  
        <!-- CARD -->
        <div class="product-card">
  
          <div class="product-image">
  
            <span class="badge badge-blue">-30%</span>
            <span class="badge badge-red">+45%</span>
  
            <img src="assets/products/filter.png">
  
          </div>
  
          <div class="product-info">
  
            <span class="brand">CASTROL</span>
  
            <h3>Huile moteur castrol SW30</h3>
  
            <div class="rating">
              ⭐ 4.8 
            </div>
  
            <div class="price">
              <span class="new-price">12.99€</span>
              <span class="old-price">18.99€</span>
            </div>
  
            <button class="button-r" (click)="addToCart(produits)"><i class="bi bi-cart"></i>Ajouter au panier</button>
          </div>
  
        </div>
  
        <!-- CARD 2 -->
        <div class="product-card">
  
            <div class="product-image">
    
              <span class="badge badge-blue">-30%</span>
              <span class="badge badge-red">+45%</span>
    
              <img src="assets/products/filter.png">
    
            </div>
    
            <div class="product-info">
    
              <span class="brand">CASTROL</span>
    
              <h3>Huile moteur castrol SW30</h3>
    
              <div class="rating">
                ⭐ 4.8 
              </div>
    
              <div class="price">
                <span class="new-price">12.99€</span>
                <span class="old-price">18.99€</span>
              </div>
  
              <button class="button-r" (click)="addToCart(produits)"><i class="bi bi-cart"></i>Ajouter au panier</button>

            </div>
    
        </div>    

        <!-- CARD 2 -->
        <div class="product-card">
  
            <div class="product-image">
    
              <span class="badge badge-blue">-30%</span>
              <span class="badge badge-red">+45%</span>
    
              <img src="assets/products/filter.png">
    
            </div>
    
            <div class="product-info">
    
              <span class="brand">CASTROL</span>
    
              <h3>Huile moteur castrol SW30</h3>
    
              <div class="rating">
                ⭐ 4.8
              </div>
    
              <div class="price">
                <span class="new-price">12.99€</span>
                <span class="old-price">18.99€</span>
              </div>
    
              <button class="button-r" (click)="addToCart(produits)"><i class="bi bi-cart"></i>Ajouter au panier</button>

            </div>
    
        </div>  

        <!-- CARD 2 -->
        <div class="product-card">
  
            <div class="product-image">
    
              <span class="badge badge-blue">-30%</span>
              <span class="badge badge-red">+45%</span>
    
              <img src="assets/products/filter.png">
    
            </div>
    
            <div class="product-info">
    
              <span class="brand">CASTROL</span>
    
              <h3>Huile moteur castrol SW30</h3>
    
              <div class="rating">
                ⭐ 4.8
              </div>
    
              <div class="price">
                <span class="new-price">12.99€</span>
                <span class="old-price">18.99€</span>
              </div>
    
              <button class="button-r" (click)="addToPanier(produits)"><i class="bi bi-cart"></i>Ajouter au panier</button>

            </div>
    
        </div>  
      </div>
  
    </div>
  
  </section>