<!-- TOP BAR -->

<div class="top-bar">
  <div class="container d-flex justify-content-between align-items-center">

    <div class="top-left">
      <i class="bi bi-geo-alt"></i>
      Livraison partout au Senegal 

      <span class="ms-3">
        <i class="bi bi-telephone"></i>
        +221 78 449 25 68
      </span>
    </div>

    <div class="top-right">
      <a routerLink="/aide">Aide</a>
      <a class="ms-3">Vendez sur AutoMecaStore</a>
    </div>

  </div>
</div>


<!-- MAIN HEADER -->

<div class="main-header">

  <div class="container d-flex align-items-center justify-content-between">

    <!-- LOGO -->

    <div class="logo">
      <img class="logo-img"
      src="assets/image/logo.jpeg"
      alt="AutoMecaStore">
    </div>

    <!-- SEARCH BAR -->

    <div class="search-box">

      <input type="text" placeholder="Je recherche une pièce...">

      <button>
        <i class="bi bi-search"></i>
      </button>

    </div>

    <!-- AUTH BUTTONS -->

    <div class="auth-buttons">

      <button class="btn btn-login" routerLink="/login">
        Connexion
      </button>

      <button class="btn btn-register" routerLink="/register">
        S'inscrire
      </button>

      <button class="cart-btn" routerLink="/panier">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="badge">{{ totalPanier }}</span>
      </button>

    </div>

  </div>

</div>

<div class="cart-notification" *ngIf="notification">
  {{ notification }}
</div>


<!-- CATEGORY BAR -->

<div class="category-bar">

  <div class="container d-flex align-items-center">

    <div class="categories">

      <a routerLink="/">Toutes catégories</a>
      <a routerLink="/catalog/auto">Automobile</a>
      <a routerLink="/catalog/moto">Moto & Scooter</a>
      <a routerLink="/catalog/poidLourds">Poids Lourds</a>
      <a routerLink="/catalog/velo">Vélo & E-bike</a>

    </div>

  </div>

</div>