<section class="offers">

    <div class="container">
  
      <div class="offers-header">
  
        <div>
            <span class="cards"><i class="bi bi-clock-fill rotating">OFFRES LIMITÉES</i></span>
               
            <h2>Vente éclair - 24heures</h2>
            <p>Des reductions incroyables qui disparaissent vites</p>
        </div>
  
      </div>
  
  
      <div class="offers-grid">
  
        <!-- CARD -->
        <div class="product-card">
  
          <div class="product-image">
  
            <span class="badge badge-orange">-30%</span>
            <span class="badge badge-red"><i class="bi bi-clock-fill rotating">12h45mn <br> restantes</i></span>
  
            <img src="assets/products/filter.png">
  
          </div>
  
          <div class="product-info">
  
            <span class="brand">CASTROL</span>
  
            <h3>Huile moteur castrol SW30</h3>
  
 
            <div class="price">
              <span class="new-price">12.99€</span>
              <span class="old-price">18.99€</span>
            </div>
  
            <button class="button-r"><i class="bi bi-cart"></i>Acheter maintenant</button>
          </div>
  
        </div>
  
        <!-- CARD 2 -->
        <div class="product-card">
  
          <div class="product-image">
  
            <span class="badge badge-orange">-30%</span>
            <span class="badge badge-red"><i class="bi bi-clock-fill rotating">12h45mn <br> restantes</i></span>
  
            <img src="assets/products/filter.png">
  
          </div>
  
          <div class="product-info">
  
            <span class="brand">CASTROL</span>
  
            <h3>Huile moteur castrol SW30</h3>
  
 
            <div class="price">
              <span class="new-price">12.99€</span>
              <span class="old-price">18.99€</span>
            </div>
  
            <button class="button-r"><i class="bi bi-cart"></i>Acheter maintenant</button>
          </div>
  
        </div>   

        <!-- CARD 2 -->
        <div class="product-card">
  
          <div class="product-image">
  
            <span class="badge badge-orange">-30%</span>
            <span class="badge badge-red"><i class="bi bi-clock-fill rotating">12h45mn <br> restantes</i></span>
  
            <img src="assets/products/filter.png">
  
          </div>
  
          <div class="product-info">
  
            <span class="brand">CASTROL</span>
  
            <h3>Huile moteur castrol SW30</h3>
  
 
            <div class="price">
              <span class="new-price">12.99€</span>
              <span class="old-price">18.99€</span>
            </div>
  
            <button class="button-r"><i class="bi bi-cart"></i>Acheter maintenant</button>
          </div>
  
        </div>

        <!-- CARD 2 -->
        <div class="product-card">
  
          <div class="product-image">
  
            <span class="badge badge-orange">-30%</span>
            <span class="badge badge-red"><i class="bi bi-clock-fill rotating">12h45mn <br> restantes</i></span>
  
            <img src="assets/products/filter.png">
  
          </div>
  
          <div class="product-info">
  
            <span class="brand">CASTROL</span>
  
            <h3>Huile moteur castrol SW30</h3>
  
 
            <div class="price">
              <span class="new-price">12.99€</span>
              <span class="old-price">18.99€</span>
            </div>
  
            <button class="button-r"><i class="bi bi-cart"></i>Acheter maintenant</button>
          </div>
  
        </div>
        
        
      </div>
  
    </div>
  
  </section>